/* ------- LOGIN DE INIACIAR SESION ----- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: linear-gradient(135deg, #071d33, #2c7be5);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CONTENEDOR */
.login-container {
    width: 100%;
    padding: 20px;
}

/* TARJETA */
.login-card {
    background: #fff;
    max-width: 420px;
    margin: auto;
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.2);
    animation: fadeIn 0.6s ease;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px);}
    to { opacity: 1; transform: translateY(0);}
}

/* HEADER */
.login-header {
    text-align: center;
    margin-bottom: 30px;
}

.login-header img {
    width: 130px;
    margin-bottom: 10px;
}

.login-header h2 {
    color: #071d33;
}

.login-header p {
    color: #777;
    font-size: 14px;
}

/* INPUTS */
.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group i {
    position: absolute;
    left: 12px;
    top: 14px;
    color: #999;
}

.input-group input {
    width: 100%;
    padding: 12px 12px 12px 40px;
    border-radius: 6px;
    border: 1px solid #ddd;
    transition: 0.3s;
}

.input-group input:focus {
    border-color: #2c7be5;
    outline: none;
}

/* OPCIONES */
.login-options {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin-bottom: 25px;
}

.login-options a {
    text-decoration: none;
    color: #2c7be5;
    font-weight: bold;
}

.login-options a:hover {
    color: #ff6b00;
}

/* BOTÓN */
.btn-login {
    width: 100%;
    padding: 12px;
    border: none;
    background: linear-gradient(45deg, #2c7be5, #ff6b00);
    color: white;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-login:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(0,0,0,0.2);
}

/* RESPONSIVE */
@media (max-width: 480px) {
    .login-card {
        padding: 30px 20px;
    }
}


/* ------------------------- diseño modal en caso de que la contrasela sea incorrecta ----- */

.modal-error {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: fadeIn 0.3s ease;
}

.modal-box {
    background: white;
    padding: 30px 40px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 10px 40px rgba(0,0,0,0.3);
    max-width: 90%;
    width: 350px;
}

.modal-box i {
    font-size: 50px;
    color: #e74c3c;
    margin-bottom: 10px;
}

.modal-box p {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}


/* MODAL DE CERRAR SESION 